body{
    background-color:#DC143C;   
    font: bold 18px Arial, sans-serif;
    margin: 8;
}
   
#edukiontzi{
    background-color:#F0F8FF;
    border-radius:5px;
    border-width: 4px 0;
    width: 490px;
}
 
#gorputza{
    background:#F0FFF0;
    border:solid #000000;
    border-width: 4px 0;
    padding:40px 45px;
}
 
label{
    color: #000000;
    font: bold 18px Arial, sans-serif;
}
 
input{
    border-radius:5px;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);
    font:bold 17px Arial, sans-serif;
    height: 24px;
    line-height: 20px;
    padding:0 2px;
    width: 230px;
}
.botoia{
    padding: 0 15px;
    height: 30px;
    text-align: center;
    color: #000;
    background:#FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
    float: left;
    cursor: pointer;
}
 

 		